li a.html5-logo {
  padding: 0px;
}

a.html5-logo img {
  height: 50px;
}

div#map {
  height: 420px;
  width: 100%;
}

.text-middle {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
