<!DOCTYPE html>
<html>
<head>
  <title>FayeRailsDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="//cdn.jsdelivr.net/jquery/2.1.1/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/momentjs/2.6.0/moment.min.js"></script>
  <script src="js/vendor/faye-browser-min.js"></script>
  <script>
$(document).ready(function() {
  var client;

  client = new Faye.Client('/faye');

  client.subscribe('/chat', function(payload) {
    var time;
    time = moment(payload.created_at).format('D/M/YYYY H:mm:ss');
    return $('#chat').append("<li>" + time + " : " + payload.message + "</li>");
  });

  $(document).ready(function() {
    var button, input;
    input = $('input');
    button = $('button');
    return button.click(function() {
      var publication;
      button.attr('disabled', 'disabled');
      button.text('Posting...');
      publication = client.publish('/chat', {
        message: input.val(),
        created_at: new Date()
      });
      publication.callback(function() {
        input.val("");
        button.removeAttr('disabled');
        return button.text('Post');
      });
      return publication.errback(function() {
        button.removeAttr('disabled');
        return button.text('Try again');
      });
    });
  });

  window.client = client;
});
  </script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
