<div class="col-xs-12 col-md-4">
    <div data-app-markdown="" data-ng-include="'REFERENCES.md'">
    </div>
</div>


<div class="col-xs-12 col-md-8">
    <div data-app-markdown="" data-ng-include="'README.md'">
    </div>
</div>
